{% extends 'layout/layout.html.twig' %}

{% block title %}
    My App
{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}
    <h1 class="text-center">Error</h1>
{% endblock %}
