{% extends 'layout/layout.html.twig' %}

{% block title %}
    My App
{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}
    <div class="container mt-5">
        <select class="form-select" aria-label="Default select example" id="db-type">
            <option {{ (db in 'Default database') ? 'selected' : '' }} value="Default database">Default database</option>
            <option {{ (db in 'gorest REST API') ? 'selected' : ''}} value="gorest REST API">gorest REST API</option>
        </select>
    </div>
    <script src="/assets/javascript/storeCookieBySelect.js"></script>
{% endblock %}
